<meta charset="UTF-8">
        <link rel="stylesheet" href="/resources/css/main.css" type="text/css">
        <link rel="shortcut icon" href="/resources/images/icon_32.png" sizes="32x32">
        <link rel="shortcut icon" href="/resources/images/icon_48.png" sizes="48x48">
        <link rel="shortcut icon" href="/resources/images/icon_128.png" sizes="128x128">
